<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-eval'; connect-src 'self' http://10.2.49.39:8787 http://10.2.49.39:8787; img-src 'self' data: http://10.2.49.39:8787 http://10.2.49.39:8787" />
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/ionicons.css" rel="stylesheet">
	<link href="css/ionicons.min.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
	<script src="js/aes.js"></script>
    <script src="js/ng-cordova.js"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/factory.js"></script>
	<script src="js/angular-cookies.js"></script>
	<script src="js/angular-translate.js"></script>
	<script src="js/angular-translate-loader-static-files.js"></script>
	<script src="js/angular-translate-storage-local.js"></script>
	<script src="js/angular-translate-storage-cookie.js"></script>
  </head>
  <body ng-app="starter" class="platform-android platform-cordova platform-webview">
    <ion-nav-view></ion-nav-view>
	<script id="login.html" type="text/ng-template">
		<ion-view title="{{'login'|translate}}" hide-back-button="true">
			<ion-nav-bar class="bar-assertive" align-title="center">
			</ion-nav-bar>
			<ion-content class="has-header" padding="true">
				<center>
					<center><img src="img/kkasicon.png" style="padding:20px 0px 40px 0px; width: 150px;"/></center>
				</center>
				<button class="button button-block button-assertive" on-touch="scanQR()">Scan <i class="icon ion-qr-scanner"></i></button>
			</ion-content>
		</ion-view>
	</script>
	<script id="menu.html" type="text/ng-template">
		<ion-side-menus enable-menu-with-back-views="false">
			<ion-side-menu-content>
				<ion-nav-bar class="bar-assertive" align-title="center">
					<ion-nav-back-button></ion-nav-back-button>
					<ion-nav-buttons side="left">
						<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
					</ion-nav-buttons>
				</ion-nav-bar>
				<ion-nav-view name="menuContent"></ion-nav-view>
			</ion-side-menu-content>
			<ion-side-menu side="left">
				<ion-header-bar class="bar-assertive">
					<h1 class="title">Menu</h1>
				</ion-header-bar>
				<ion-content>
					<ion-list>
						<ion-item menu-close ui-sref="app.lists">{{'Home' | translate}}</ion-item>
						<!-- <ion-item menu-close ngDisabled ="isDisabled" ui-sref="app.report">{{'Report' | translate}}</ion-item>
						<ion-item menu-close ngDisabled ="isDisabled" ui-sref="app.payment">{{'Payments' | translate}}</ion-item>
						<ion-item menu-close ui-sref="app.settings">{{'Settings' | translate}}</ion-item> -->
						<ion-item menu-close ng-click="logout()">{{'Log Out' | translate}}</ion-item>
					</ion-list>
				</ion-content>
			</ion-side-menu>
		</ion-side-menus>
	</script>
	<script id="lists.html" type="text/ng-template">
		<ion-view title="{{'Home'|translate}}">
			<ion-content class="padding">
				<div class="row bar bar-header item-input-inset">
					<div class="col col-70">
						<label class="item-input-wrapper">
							<i class="icon ion-ios-search placeholder-icon"></i>
							<input type="search" placeholder="Search" ng-model="search" maxlength="25">
						</label>
					</div>
					<div class="col col-10">
						<button class="button button-clear" ng-click="search = ''">
							<i class="ion-close-circled"></i>
						</button>
					</div>
					<div class="col col-20">
						<a ng-click="search = 'BOOKED'">
							<i class="ion-ios-cart-outline"></i><span class="badge badge-assertive">{{countOrder}}</span>
						</a>
					</div>
				</div>
				<div class="card" ng-repeat="order in test | filter:search">
					<fieldset class="item item-button3" ng-disabled="order.orderStatus == 'DELIVERED'|| order.orderStatus == 'REFUND' || order.orderStatus == 'DONE'"  id="openModal1" ng-click="openModal(order.orderID, order.userID, getTotal(order))" ng-class="{'stable-bg':order.orderStatus == 'BOOKED', 'process-bg':order.orderStatus == 'PROCESS', 'balanced-bg':order.orderStatus == 'DONE'}">
						<div class="item" style="font-weight:bold;" >{{order.orderID}} {{order.orderStatus}}
							<span class ng-if="order.orderStatus=='DELIVERED'">
								<i class="ion-checkmark-round"></i>
							</span>
						</div>
						<label class="item" style="font-weight:bold;">{{order.customer}}
							<span class="item-note"><h2 class="dark" style="font-weight:bold;">Total : Rp.{{getTotal(order)|number}}</h2></span>
						</label>
						<ion-item class="item-light" >
							<div class="row" style="border-bottom: 1px solid #eaeaea;" ng-repeat="item in order.items" ng-if="order.items.length > 1">
								<div class="col col-75 item-text-wrap">{{item.itemName._text}}</div>
								<div class="col col-25 item-text-wrap" style="text-align:right;">{{item.quantity._text}}</div>
							</div>
							<div class="row" style="border-bottom: 1px solid #eaeaea;" ng-if="order.items.length == null">
								<div class="col col-75 item-text-wrap">{{order.items.itemName._text}}</div>
								<div class="col col-25 item-text-wrap" style="text-align:right;">{{order.items.quantity._text}}</div>
							</div>
						</ion-item>
						<label class="item" style="font-weight:bold;">
							{{ 'notes' | translate }}: {{order.notes}}
						</label>
					</fieldset>
				</div>
			</ion-content>
		</ion-view>
	</script>
	<script id="contact-modal.html" type="text/ng-template">
		<div class="modal" id="modal">
			<ion-content class="padding">
				<button class="button button-full button-calm" ngDisabled ="isDisabled" id="processbtn" ng-click="process(idOrder)">In Progress</button>
				<button class="button button-full button-balanced" ngDisabled ="isDisabled" id="readybtn" ng-click="ready(idOrder)">Ready</button>
				<!-- <button class="button button-full button-energized" ngDisabled ="isDisabled" id="refundbtn" ng-click="refund(idOrder)">Refund</button> -->
				<div class="card">
					<button class="button button-full button-assertive" ng-click="closeModal()">{{'back'|translate}}</button>
				</div>
			</ion-content>
		</div>
	</script>
	<script id="report.html" type="text/ng-template">
		<ion-view title="{{'Report'|translate}}">
			<ion-content class="padding">
				<div class="row bar bar-header item-input-inset">
					<div class="col col-50">
						<label class="item-input-wrapper">
							<i class="icon ion-ios-search placeholder-icon"></i>
							<input type="search" placeholder="Search" ng-model="search" maxlength="25">
						</label>
					</div>
					<div class="col col-10">
						<button class="button button-clear" ng-click="search = ''">
							<i class="ion-close-circled"></i>
						</button>
					</div>
					<div class="col col-20">
						<a ng-click="search = 'DELIVERED'">
							<i class="ion-android-checkbox royal"></i><span class="badge badge-assertive">{{countDeliver}}</span>
						</a>
					</div>
					<div class="col col-20">
						<a ng-click="search = 'REFUND'">
							<i class="ion-android-cancel energized"></i><span class="badge badge-assertive">{{countRefund}}</span>
						</a>
					</div>
				</div>
				<div class="card" ng-repeat="order in test | filter:search">
					<fieldset class="item item-button3" ng-class="{'energized-bg':order.orderStatus == 'REFUND', 'royal-bg':order.orderStatus == 'DELIVERED'}">
						<div class="item" style="font-weight:bold;" >{{order.orderID}} {{order.orderStatus}}
							<span class ng-if="order.orderStatus=='DELIVERED'">
								<i class="ion-checkmark-round"></i>
							</span>
						</div>
						<label class="item" style="font-weight:bold;">{{order.customer}}
							<span class="item-note"><h2 class="dark" style="font-weight:bold;">Total : Rp.{{getTotal(order)|number}}</h2></span>
						</label>
						<ion-item class="item-light" >
							<div class="row" style="border-bottom: 1px solid #eaeaea;" ng-repeat="item in order.items" ng-if="order.items.length > 1">
								<div class="col col-75 item-text-wrap">{{item.itemName._text}}</div>
								<div class="col col-25 item-text-wrap" style="text-align:right;">{{item.quantity._text}}</div>
							</div>
							<div class="row" style="border-bottom: 1px solid #eaeaea;" ng-if="order.items.length == null">
								<div class="col col-75 item-text-wrap">{{order.items.itemName._text}}</div>
								<div class="col col-25 item-text-wrap" style="text-align:right;">{{order.items.quantity._text}}</div>
							</div>
						</ion-item>
						<label class="item" style="font-weight:bold;">
							{{ 'notes' | translate }}: {{order.notes}}
						</label>
					</fieldset>
				</div>
			</ion-content>
		</ion-view>
    </script>
	<script id="payment.html" type="text/ng-template">
		<ion-view title="{{'payment_title'|translate}}" >
			<ion-content class="has-header" padding="true">
				<ion-item>
					<div class="row" style="margin: 0; padding: 0;">
						<div class="col col-40 item-text-wrap"><b>{{'date'|translate}}</b></div>
						<div class="col col-40 item-text-wrap"><b>{{'Nominal'|translate}}</b></div>
					</div>
					<div class="row" ng-repeat="trs in transaction" style="border-bottom: 1px solid #eaeaea; margin: 0;padding: 0;">
						<div class="col col-40 item-text-wrap">{{trs.date}}</div>
						<div class="col col-40 item-text-wrap">Rp.{{trs.amount|number}}</div>
					</div>
				</ion-item>
			<button class="button button-block button-assertive" ng-click="backToHome()">{{'back'|translate}}</button>
        </ion-content>
      </ion-view>
    </script>
	<script id="settings.html" type="text/ng-template">
		<ion-view title="{{'settings_title'|translate}}">
			<ion-content class="has-header" padding="true">
				<ul class="list">
					<a class="item item-icon-left" ng-click="lang()">
						<i class="icon ion-chatbubble-working"></i> {{ 'lang' | translate }}
						<span class="item-note"> {{ 'langvalue' | translate }} </span>
					</a>
				</ul>
				<!--<button class="button button-block button-energized" ui-sref="setting">Setting</button>-->
				<button class="button button-block button-assertive" ng-click="backToHome()">{{'back'|translate}}</button>
			</ion-content>
		</ion-view>
	</script>
	<script id="language.html" type="text/ng-template">
		<ion-view title="{{ 'lang' | translate }}">
			<ion-content class="has-header" padding="true">
				<div class="list">
					<a class="item" ng-click="changeLang('id_ID')"> {{ 'id' | translate }}</a>
					<a class="item" ng-click="changeLang('en_US')"> {{ 'en' | translate }}</a>
				</div>
				<button class="button  button-block button-assertive" ng-click="backToSettings()"> {{'back'|translate}} </button>
			</ion-content>
		</ion-view>
	</script>
  </body>
</html>