/* Empty. Add your own CSS if you like */
.row + .row {
	margin:0px;
	padding:0px;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {

}

.rating li {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.rating .filled {
    color: #fd0;
}

.ion-ios-cart-outline, .ion-android-checkbox, .ion-android-cancel{
	font-size: 30px;
  font-weight: bold;
}

.ion-close-circled{
  font-size: 15px;
}
.ion-checkmark-round{
  font-size: 45px;
  color:#008000;
}

.title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.button-clear {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
